################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NoteBook/NoteBook/obj/Release/NoteBook_MarkupCompile.lref
/NoteBook/NoteBook/obj/Release/NoteBook_MarkupCompile.cache
/NoteBook/NoteBook/obj/Release/NoteBook.csproj.CoreCompileInputs.cache
/NoteBook/NoteBook/obj/Release/MainWindow.g.cs
/NoteBook/NoteBook/obj/Release/Dialogs/NameFileDialog.g.cs
/NoteBook/NoteBook/obj/Release/App.g.cs
/NoteBook/NoteBook/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NoteBook/NoteBook/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NoteBook/NoteBook/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NoteBook/NoteBook/obj/Debug/NoteBook.csproj.CopyComplete
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/System.Data.SQLite.Linq.1.0.109.0.nupkg
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/lib/net46/System.Data.SQLite.Linq.dll
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/lib/net451/System.Data.SQLite.Linq.dll
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/lib/net45/System.Data.SQLite.Linq.dll
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/lib/net40/System.Data.SQLite.Linq.dll
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/lib/net20/System.Data.SQLite.Linq.dll
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/content/net46/web.config.transform
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/content/net46/app.config.transform
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/content/net451/web.config.transform
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/content/net451/app.config.transform
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/content/net45/web.config.transform
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/content/net45/app.config.transform
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/content/net40/web.config.transform
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/content/net40/app.config.transform
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/content/net20/web.config.transform
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/content/net20/app.config.transform
/NoteBook/packages/System.Data.SQLite.Linq.1.0.109.0/.signature.p7s
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/tools/net46/install.ps1
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/tools/net451/install.ps1
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/tools/net45/install.ps1
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/tools/net40/install.ps1
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/System.Data.SQLite.EF6.1.0.109.0.nupkg
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/lib/net46/System.Data.SQLite.EF6.dll
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/lib/net451/System.Data.SQLite.EF6.dll
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/lib/net45/System.Data.SQLite.EF6.dll
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/lib/net40/System.Data.SQLite.EF6.dll
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net46/web.config.transform
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net46/web.config.install.xdt
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net46/app.config.transform
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net46/app.config.install.xdt
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net451/web.config.transform
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net451/web.config.install.xdt
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net451/app.config.transform
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net451/app.config.install.xdt
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net45/web.config.transform
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net45/web.config.install.xdt
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net45/app.config.transform
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net45/app.config.install.xdt
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net40/web.config.transform
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net40/web.config.install.xdt
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net40/app.config.transform
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/content/net40/app.config.install.xdt
/NoteBook/packages/System.Data.SQLite.EF6.1.0.109.0/.signature.p7s
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/System.Data.SQLite.Core.1.0.109.2.nupkg
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/runtimes/win-x86/native/netstandard2.0/SQLite.Interop.dll
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/runtimes/win-x64/native/netstandard2.0/SQLite.Interop.dll
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/runtimes/osx-x64/native/netstandard2.0/SQLite.Interop.dll
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/runtimes/linux-x64/native/netstandard2.0/SQLite.Interop.dll
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/netstandard2.0/System.Data.SQLite.xml
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/netstandard2.0/System.Data.SQLite.dll.config
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/netstandard2.0/System.Data.SQLite.dll
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net46/System.Data.SQLite.xml
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net46/System.Data.SQLite.dll.config
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net46/System.Data.SQLite.dll
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net451/System.Data.SQLite.xml
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net451/System.Data.SQLite.dll.config
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net451/System.Data.SQLite.dll
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net45/System.Data.SQLite.xml
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net45/System.Data.SQLite.dll.config
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net45/System.Data.SQLite.dll
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net40/System.Data.SQLite.xml
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net40/System.Data.SQLite.dll.config
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net40/System.Data.SQLite.dll
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/lib/net20/System.Data.SQLite.xml
/NoteBook/packages/System.Data.SQLite.Core.1.0.109.2/.signature.p7s
/NoteBook/.vs/NoteBook/v15/Server/sqlite3/storage.ide-wal
/NoteBook/.vs/NoteBook/v15/Server/sqlite3/storage.ide-shm
/NoteBook/.vs/NoteBook/v15/Server/sqlite3/storage.ide
/NoteBook/.vs/NoteBook/v15/Server/sqlite3/db.lock
/NoteBook/NoteBook/NoteBook.csproj.user
