################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NoteBook/NoteBook/obj/Release/NoteBook_MarkupCompile.lref
